{% extends 'base.html' %}
{% block conteudo %}

    <div class="corpo">
    <h1 style="margin: 30px">
        {% if funcionario %}
            Editar Funcionário
        {% else %}
            Criar Funcionário
        {% endif%}
    </h1>

    <form method="POST" role="form">
{% csrf_token %}
{% if funcionario %}
{% for field in form %}
    {% if field.name == "cargo" %}
        <fieldset class="form-group">
        <label class="control-label">{{ field.label }}</label>
        {{ form.cargo}}
        </fieldset>

    {% else %}
        <fieldset class="form-group">
            <label class="control-label">{{ field.label }}</label>
            <input type="text" class="form-control"
            name="{{ field.name }}"
            value="{{ field.value }}">
        </fieldset>
    {% endif%}
{% endfor %}
{% else %}

    {% for field in form %}
    {% if field.name == "cargo" %}
        <fieldset class="form-group">
        <label class="control-label">{{ field.label }}</label>
        {{ form.cargo}}
        </fieldset>
    {% else %}
        <fieldset class="form-group">
            <label class="control-label">{{ field.label }}</label>
            <input type="text" class="form-control"
            name="{{ field.name }}"
            value="">
    </fieldset>
    {% endif%}
    {% endfor %}
    {% endif%}
        <input type="submit" value="Salvar"  class="btn btn-primary">
    </form>
</div>
{% endblock %}