{% extends 'base.html' %}
{% block conteudo %}
    <div class="corpo">
    <h1 style="margin: 30px">{% if cargo %}Editar Cargo{% else %}Criar Cargo{% endif%}</h1>

    <form class="form-contact" action="" method="POST">
{% csrf_token %}
{% if cargo %}
{% for field in form %}
        <fieldset class="form-group">
            <label class="control-label">{{ field.label }}</label>
            <input type="text" class="form-control"
            name="{{ field.name }}"
            value="{{ field.value }}">
    </fieldset>
    {% endfor %}

{% else %}
    {% for field in form %}
        <fieldset class="form-group">
            <label class="control-label">{{ field.label }}</label>
            <input type="text" class="form-control"
            name="{{ field.name }}"
            value="">
    </fieldset>
    {% endfor %}
    {% endif%}
        <input type="submit" value="Salvar"  class="btn btn-primary">
    </form>
</div>
{% endblock %}