<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Vendas</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/images/favicon.png" />
    {% load staticfiles %}
    <link href="{% static 'bootstrap-bare/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
   <style>
       .img-120-120 {
            width: 150px; /* a altura se adequa proporcionalmente*/
    }
    body {

        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        background: url('/static/images/green-white-background.jpg') center center no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .corpo {
        /* Largura máxima */
        max-width:960px;
        /* Alinha ao centro */
        margin:0 auto;
        background:#fff;
        overflow:visible;
        background:rgba(255,255,255,0.0);
    }
    form
    {
        width: 60%;
        margin-left: 30px;
    }



    </style>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/js/jquery.maskMoney.min.js"></script>




    <script>

        //Aplicando máscaras em alguns campos
        jQuery(function($){

            $("#valorUnitario").maskMoney({decimal:".",thousands:"",allowZero: false, defaultZero: false, allowNegative: false}).trigger('mask.maskMoney');
            $("#telefone").mask("(99) 9999-9999?9");
            $("#matricula").mask("9?999999999");

        });

        //Validando formulário


        <!-- Script para ocultar a mensagem de erro ao excluir algo que tenha alguma relação-->
        var segundos = 5; //Segundos
        setTimeout(function(){
            $('.alert-danger').fadeOut();
        }, segundos*1000)


        //Script para adicionar classes aos elementos
        window.onload = function(){
            $('select').addClass('form-control');
        }


        //Script para validar email
        function ValidateEmail(email) {
            var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            return expr.test(email);
        };


        $(document).ready(function()
        {
            //Limitando o tamanho dos caracteres de cada campo
            $("[name=nome]").attr('maxlength','255');
            $("[name=descricao]").attr('maxlength','150');
            $("[name=email]").attr('maxlength','200');
            $("[name=endereco]").attr('maxlength','255');
            $("[name=matricula]").attr('maxlength','10');
            $("[name=telefone]").attr('maxlength','11');
            $("[name=sigla]").attr('maxlength','5');
            $("[name=valorUnitario]").attr('maxlength','10');



            //Script para validar campos vazios nos formulários
            $('.error').hide();
            $("input[type=submit]").click(function(e){

                // bloqueando envio do form
                e.preventDefault();

                var email = 0;
                var erros = 0;
                var campo = "";

                // verifica se ha campos vazios
                $("input, select").each(function(){
                    // conta erros
                    $(this).val() == "" ? erros++ : "";
                });


                //Validando email
                if( $("#email").length && $("#email").is(":visible")){
                    if(!ValidateEmail($("#email").val()) && $("#email").val() != "")
                    {

                        email++;
                        $("#email").css({"border" : "1px solid #F00", "padding": "2px"});
                    }
                }

                // verifica se ha erros
                if(erros > 0 ){
                    alert("Existe "+erros+" campo(os) vazio(os) neste fomulário. Verifique!");
                if(email > 0)
                {
                    alert("Email inválido!");
                }
                }else if(email == 0 && erros == 0){
                    $("form").submit()
                }

            });



            //Personalizando os campos vazios com CSS, para alertar.
            $("input, select").blur(function(){

                if($(this).val() == "")
                {
                    $(this).css({"border" : "1px solid #F00", "padding": "2px"});
                }
                else if($(this).attr('id') != "email"){
                    $(this).css({"border" : "1px solid #cccccc", "padding": "2px"});
                }
                if (!ValidateEmail($("#email").val()) && $("#email").val() != "" && $("#email").is(":visible")) {
                    alert("Email inválido!");
                    $("#email").css({"border" : "1px solid #F00", "padding": "2px"});
                }
            });

            $("input[type=submit]").click(function(e){

                var cont = 0;
                $("form input, select").each(function(){

                    if($(this).val() == "")
                    {
                        $(this).css({"border" : "1px solid #F00", "padding": "2px"});
                        cont++;
                    }

                });

            });



        });


        $("input[type=text]").each(function(index) {
            /** Utiliza por padrão o placeholder caso não encontre, utiliza o texto do label **/
            var field = $(this).attr("placeholder") != null ? $(this).attr("placeholder") : $(this).parent().find("label").text();
            $(this).rules("add", {
                required : function(element) {
                    if(!$(element).val().trim()) {
                        $(element).val("");
                        return true;
                    }
                    return false;
                },
                messages : {required : "Campo é de preenchimento obrigatório."}
            });
        });




    </script>
</head>
<body background="/static/images/green-white-background.jpg">
 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Sistema de Vendas</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'unidade_list' %}"><span class="glyphicon glyphicon-asterisk"></span> Unidades </a></li>
                    <li><a href="{% url 'cargo_list' %}"><span class="glyphicon glyphicon-plane"></span> Cargos</a></li>
                    <li><a href="{% url 'produto_list' %}"><span class="glyphicon glyphicon-folder-open"></span> Produtos</a></li>
                    <li><a href="{% url 'cliente_list' %}"><span class="glyphicon glyphicon-user"></span> Clientes</a></li>
                    <li><a href="{% url 'funcionario_list' %}"><span class="glyphicon glyphicon-lock"></span> Funcionários</a></li>
                    <li><a href="{% url 'venda_list' %}"><span class="glyphicon glyphicon-shopping-cart"></span>  Vendas</a></li>
                    <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-list-alt"></span> Cadastros</a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div>
        <img align="right"  class="img-120-120" src="/static/images/icon-venda.png" />
    </div>
    {% block conteudo %}
        <!--<div class="corpo">
        <h3>Bem vindo ao sistema de controle de vendas!</h3>
        </div>-->
        <h1 class="well" align="center">BEM-VINDO!!</h1>
        <dev style="text-transform: capitalize">
            <h2 align="center" >Ao sistema de controle de vendas</h2>
        </dev>
    {% endblock %}

    <script src="{% static 'bootstrap-bare/js/jquery.js' %}" ></script>

    <script src="{% static 'bootstrap-bare/js/bootstrap.min.js' %}" ></script>

</body>
</html>