<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Vendas</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


    <script source="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>Sistema de Vendas</h2>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{% url 'home' %}"> Home </a></li>
        <li role="presentation"><a href="{% url 'unidade_list' %}"> Unidades </a></li>
        <li role="presentation"><a href="{% url 'cargo_list' %}"> Cargos</a></li>
        <li role="presentation"><a href="{% url 'produto_list' %}"> Produtos</a></li>
        <li role="presentation"><a href="{% url 'cliente_list' %}"> Clientes</a></li>
        <li role="presentation"><a href="{% url 'funcionario_list' %}"> Funcionários</a></li>
        <li role="presentation"><a href="{% url 'vendas' %}"> Vendas</a></li>
        <li role="presentation"><a href="{% url 'admin:index' %}"> Cadastros</a></li>
    </ul>
    {% block conteudo %}
        <h3>Bem vindo ao sistema de controle de vendas</h3>
    {% endblock %}
</body>
</html>